<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Posts</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link" href="#">My Blog</a>
      </li> --}}
    </ul>
  </div>
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DangLee
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/posts">My Blog</a>
          <a class="dropdown-item" href="/posts/wishlist">Wish List</a>
          <a class="dropdown-item" href="/fun">Fun</a>
          <a class="dropdown-item text-danger" href="#">Log out</a>
        </div>
      </li>
  </ul>
  {{!-- <span class="navbar-text">
      <a class="nav-link" href="#">My Blog</a>
    </span> --}}
  
  
</nav>